$color: ("white", "black", #f0eee9);

header{
    .title-index{
        position: relative;
        background-color: map-get($map: color, $key: black);
        width: 100%;
        height: calc(100vh - 50px);
        display: flex;
        flex-wrap: no wrap;
        flex-direction: column;
        background-image: url(../utils/title.png);
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: center bottom;
            @media screen and (max-width: 1040px){
                background-size: 85% 35%;
                background-position: center;
            }
        z-index: -2;
            h1{
                color: map-get($map: color, $key: #f0eee9);
                text-align: center;
                padding-top: 8%;
                font-size: 80px;
                font-family: 'Megrim', cursive; 
            }
            .subtitulo{
                color: map-get($map: color, $key: #f0eee9);
                text-align: center;
                padding-top: 10px;
                font-family: 'JetBrains Mono', monospace;
            }
    }
    nav{
        background: linear-gradient(to right, black 200px, 30%, white);
        height: 50px;
        ul{
            display: flex;
            justify-content: center;
            position: relative;
            list-style-type: none;
            font-family: 'Homemade Apple', cursive;
            .logo{
                position: absolute;
                left: 5px;
                margin: 0;
            }
            li{
                margin-right: 30px;
                font-size: 1.3rem;
                margin-top: 10px;
                margin-left: 30px;
                ul{
                    position: absolute;
                    padding: 0;
                    top: -70px;
                    transition-duration: 500ms;
                    display: flex;
                    flex-direction: column;
                    width: 170px;
                    height: 100px;
                    transform: translateX(-55px);
                    align-content: center;
                    align-items: center;
                    z-index: -1;
                    background: map-get($map: color, $key: white);
                    li{
                        margin-right: 0;
                        a{
                            color: map-get($map: color, $key: black);
                            padding-bottom: 15px;
                            padding-right: 20px;
                        }
                    }
                }
                &:hover{
                    ul{
                        // transform: translate(0 35px);
                        top: 48px;
                        animation-name: submenu;
                        animation: submenu 500ms ease-in-out;
                        animation-fill-mode: forwards;      
                    }
                }
                @keyframes submenu {
                    0%{
                        z-index: 0
                    }; 
                    80% {
                        z-index: 0
                    }; 
                    100% {
                        z-index: 1
                    }
                }
                a{
                    text-decoration: none;
                    color: map-get($map: color, $key: black);
                    img{
                        width: 170px;
                        height: 50px;
                    }
                }
            }
        }
    }
}
.nav-bar {
    @media screen and (max-width: 768px){
        display: none;
    }
}