.productos{
    h2{
        font-size: 180%;
        margin-top: 100px;
        margin-bottom: 3%;
    }
    .grid-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition-duration: 500ms;
        max-width: 1500px;
        margin: 0 auto 100px;
        padding: 0;
        img{
            border-radius: 0;
            width: 400px;
            height: 400px;
            /*animacion*/
            transition: transform 10s;
                @media screen and (max-width: 450px) {
                    width: 100vw;
                    height: auto;
                }
            }
    }
        .hijo-uno{
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.15);
            }
            @media screen and (max-width: 450px) {
                &:hover{
                    transform: none;
                }
            }
        }
        .hijo-dos{
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.15);
            }
            @media screen and (max-width: 450px) {
                &:hover{
                    transform: none;
                }
            }
        }
        .hijo-tres{
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.15);
            }
            @media screen and (max-width: 450px) {
                &:hover{
                    transform: none;
                }
            }
        }
        .hijo-cuatro{
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.15);
            }
            @media screen and (max-width: 450px) {
                &:hover{
                    transform: none;
                }
            }
        }
        .hijo-cinco{
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.15);
            }
            @media screen and (max-width: 450px) {
                &:hover{
                    transform: none;
                }
            }
        }
        .hijo-seis{
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.15);
            }
            @media screen and (max-width: 450px) {
                &:hover{
                    transform: none;
                }
            }
        }
        .hijo-siete{
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.15);
            }
            @media screen and (max-width: 450px) {
                &:hover{
                    transform: none;
                }
            }
        }
        .hijo-ocho{
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.15);
            }
            @media screen and (max-width: 450px) {
                &:hover{
                    transform: none;
                }
            }
        }
        .hijo-nueve{
            transition-duration: 500ms;
            &:hover{
                transform: scale(1.15);
            }
            @media screen and (max-width: 450px) {
                &:hover{
                    transform: none;
                }
            }
        }
    }