@mixin h2($align, $fontfamily, $color, $fontsize){
    text-align: $align;
    font-family: $fontfamily;
    color: $color;
    font-size: $fontsize;
}

$color: (color:"white", color1:"black", color2:#f0eee9);